body {
    background: radial-gradient(#0b0f1a, #000);
    color: white;
    font-family: Arial;
    text-align: center;
}

#case {
    font-size: 120px;
    cursor: pointer;
    animation: idle 2s infinite;
}

@keyframes idle {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }
}

.glow-blue {
    box-shadow: 0 0 20px #4af;
}

.glow-purple {
    box-shadow: 0 0 25px #a0f;
}

.glow-pink {
    box-shadow: 0 0 30px #f6a;
}

.glow-gold {
    box-shadow: 0 0 40px gold;
}
